{
	"snisdm": {
		"api_key": null,
		"url": "https://sni-sdm.stanford.edu"
	},
	"scitran": {
		"api_key": null,
		"url": "https://flywheel.scitran.stanford.edu"
	},
	"local": {
		"api_key": null,
		"url": "https://docker.local.flywheel.io:8443"
	}
}
