{
	"snisdm": {
		"client_id": "1052740023071-n20pk8h5uepdua3r8971pc6jrf25lvee.apps.googleusercontent.com",
		"client_secret": "",
        "client_url": "https://sni-sdm.stanford.edu"
	},
    "scitran": {
        "client_id": "949263322061-ush8t1kr5cnm4sffmsh4mjvu7ama1hsd.apps.googleusercontent.com",
        "client_secret": "",
        "client_url": "https://flywheel.scitran.stanford.edu"
    },
    "local": {
        "client_id": "949263322061-6q4fqi0m4ihkp1v5n6v8q9bef4gd0f1k.apps.googleusercontent.com",
        "client_secret": "",
        "client_url": "https://docker.local.flywheel.io:8443"
    }
}
